@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;

}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

/* Style for Navigation Bar */

.navbar{
	position: fixed;
	width: 100%;
	padding: 2.5px 0;
	font-family: 'Roboto Slab', serif;
	background: turquoise;
	z-index: 1;

}
.navbar.sticky{
	padding: 2.5px;
	background: tomato;
 
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #000000;
	font-size: 60px;
	font-weight: 800;

}

.navbar .logo a:hover{
	color: #fff;

}

.navbar .logo a span{
	color: red;
}

.navbar .logo a span:hover{
	color: blue;
	
}

.navbar .menu li{
	list-style: none;
	display: inline-block;

}

.navbar .menu li a{
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin-left: 25px;
	border: 1px solid transparent;
	transition: 0.6s ease;


}


.navbar .menu li a:hover{ 
	color: #fff;
	background-color: #0000ff;

}

/* Menu Button */
.menu-btn{
	cursor: pointer;
}

/* Style for Home Section */

.home{
	display: flex;
	background: url("../banner.jpg") no-repeat center;
	height: 100vh;
	color: black;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed ;
	font-family: 'Roboto Slab', serif;

}

.home .max-width{
	margin: auto 0 auto 40px;
}

.home .home-content .text-1{
	font-size: 50px;
	
	
}
.home .home-content .text-2{
	font-size: 70px;
	font-weight: 600;
	
	
}
.home .home-content .text-3{
	font-size: 40px;
	
}

.home .home-content a{
	display: inline-block;
	font-size: 15px;
	background: red;
	color: #fff;
	border: 1px solid transparent;
	transition: 0.6s ease;
	padding: 10px 32px;
	margin-top: 30px;
	border-radius: 20px;
}

.home .home-content a:hover{
	background-color: #0000ff;
	color: #fff;
}

/* Style for About Section */
section{
	padding: 50px 0;
}

.about{
	display: flex;
	font-family: 'Roboto Slab', serif;
	background: url("../banner-3.jpg") no-repeat center;
	color: black;
	background-size: cover;
	background-attachment: scroll;

}

.about .title{
	color: #000000;
	font-size: 75px;
	text-align: center;
	padding-bottom: 50px;
}
.about .about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.about .about-content .left{
	width: 45%;
}

.about .about-content .column-left img{
	height: 300px;
	width: 300px;
	object-fit: cover;
	border-radius: 20px;

}
.about .about-content .right{
	width: 55%;
}
.about .about-content .column-right .text{
	margin-bottom: 20px;
	
}

.about .about-content p{
	font-size: 25px;
	text-align: justify;

}

/* Style for Services Section */

hr{
	padding-bottom: 40px;

}
.services{
	display: flex;
	font-family: 'Roboto Slab', serif;
	background: turquoise;

}

.services .title{
	color: #000000;
	font-size: 75px;
	text-align: center;
	padding-bottom: 40px;
}
.services .service-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.services .service-content .card{
	width: calc(33% - 20px);
	background: white;
	text-align: center;
	border-radius: 10px;
	padding: 20px 25px;
}
.services .service-content .card:hover{
	background-color: #FF1493;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.services .service-content .card img{
	width: 80px;
	height: 80px;
}

.services .service-content .text{
	font-size: 30px;
	font-weight: 600;
	padding: 25px;
}

.services .service-content .card p{
	font-size: 20px;
	text-align: justify;
	text-align: center;
}

.services .service-content .card .box{
	transition: all 0.3s ease;
}

.services .service-content .card .box:hover{
	transform: scale(1.05);
} 

/* Style for Skills Section */

.skills{
	display: flex;
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	background: url("../banner-5.jpg") no-repeat center;
	height: 100vh;
	color: black;
	min-height: 500px;
	background-size: cover;
	background-attachment: scroll;

	
}

.skills .title{
	color: #000000;
	font-size: 75px;
	text-align: center;
	padding-bottom: 50px;
}
.skills .skill-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.skills .skill-content .column{
	width: calc(50% - 30px);
}

.skills .skill-content .left .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
}
 
.skills .skill-content .left p{
	text-align: justify;
	font-size: 20px;
}

.skills .skill-content .left a{
	display: inline-block;
	font-size: 15px;
	background: red;
	color: #fff;
	padding: 10px 32px;
	margin-top: 30px;
	border-radius: 20px;
}

.skills .skill-content .left a:hover{
	background-color: #0000ff;
	color: #fff;
}

.skills .skill-content .right .bar{
	margin-bottom: 15px;
}

.skills .skill-content .right .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.skills .skill-content .right span{
	font-weight: 600;
	font-size: 15px;
	padding: 5px;
}
.skills .skill-content .right .line{
	height: 5px;
	width: 100%;
	background: lightgray;
	position: relative;
}
.skills .skill-content .right .line::before{
	content: " ";
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	background: red;
}
.skill-content .right .html5::before{
	width: 95%;
}
.skill-content .right .css3::before{
	width: 55%;
}
.skill-content .right .js::before{
	width: 35%;
}
.skill-content .right .php::before{
	width: 85%;
}
.skill-content .right .mysql::before{
	width: 75%;
}



/* Style for Contact Section */

.contact{
	font-family: 'Roboto Slab', serif;
	color: #000000;
	display: flex;
	background: url("../banner-4.jpg") no-repeat center;
	color: black;
	background-size: cover;
	background-attachment: fixed;
	
}

.contact .title{
	color: #000000;
	font-size: 75px;
	text-align: center;
	padding-bottom: 50px;
}
.contact .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: left;
	justify-content: space-between;
}


.contact .contact-content .column{
	width: calc(50% - 30px);
}

.contact .contact-content .column .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
}

.contact .contact-content .left p{
	font-size: 15px;
	text-align: justify;
	margin-bottom: 15px;

}

.contact .contact-content .row{
	display: flex;
	height: 85px;
	align-items: center;
}

.contact .contact-content .row .info{
	margin-left: 40px;

}

.contact .contact-content .icons img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #fff;

}

.contact .contact-content .info .head{
	font-weight: 600;
	padding: 5px 0px;
	color: red;
	font-size: 25px;
}
.contact .contact-content .info .sub-title{
	font-weight: 600;
}
.contact .right form .fields{
	display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
	height: 30px;
	width: 100%;
	margin-bottom: 10px;
}

.contact .right form .textarea{
	height: 80px;
	width: 100%;
	margin-top: 20px;
}

.contact .right form .name{
	margin-right: 10px;
}

.contact .right form .email{
	margin-right: 1px;
}
.contact .right form .field input,
.contact .right form  .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
}

.contact .right form .field input:focus,
.contact .right form  .textarea textarea:focus{
	border-color: red;
}
.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right form .button{
	height: 50px;
	width: 150px;
}
.contact .right form .button button{
	width: 100%;
	height: 100%;
	background: red;
	border: 2px solid red;
	color: white;
	font-size: 18px;
	font-weight: 600;
	border-radius: 6px;
	cursor: pointer;
}
.contact .right form .button button:hover{
	background: blue;

}

/* Footer Styling */

footer{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #fff;
	background: black;
	text-align: center;
	padding: 25px 25px;
}


footer span a{
	color: red;
}
footer span a:hover{
	text-decoration: underline;
}

/* Responsive Media Query */
@media (max-width: 1920px) {
	.home .max-width{
		margin-left: 0px; 
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}
@media (max-width: 1104px) {
	.about .about-content .left img{
		height: 350px;
		width: 350px;
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}

@media (max-width: 991px) {
	.max-width{
		padding: 0 50px;
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}

@media (max-width: 947px){
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.navbar .menu{
		position: fixed;
		height: 60vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #000000;
		opacity: 90%;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}

	.navbar .menu.active{
		left: 0;
	}
	.navbar .menu li{
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px;
		font-size: 25px;

	}

	.home .home-content .text-2,
	.home .home-content .text-1{
		font-size: 35px;
	}
	.home .home-content a{
		font-size: 12px;
		padding: 8px 28px;
	}
	.max-width{
		max-width: 930px;
	}
	.about .about-content .column{
		width: 100%
	}
	.about .about-content .left{
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right{
		flex: 100%;

	}
	.services .service-content .card{
		width: calc(50% - 10px);
		margin-bottom: 35px;
	}
	.skills .skill-content .column,
	.contact .contact-content .column{
		width: 100%;
		margin-bottom: 35px;
	}
}
@media (max-width: 690px){
	.max-width{
		padding: 0 23px;
	}
	.services .service-content .card{
		width: 100%;

	}

}

@media (max-width: 500px){
	.contact .right form .fields{
		flex-direction: column;
	}
	.contact .right form .name,
	.contact .right form .email{
		margin: 0;
	}
 
}